


:root {
    --background: #ECE6F3;
    /* Purple color variables */
    --purple100: #D8D5DB;
    --purple200: #D7D1DF;
    --purple300: #D7CDE3;
    --purple400: #D7CAE6;
    --purple500: #D6C6EA;
    --purple600: #D6C2EE;
    --purple700: #D6BEF2;
    --purple800: #D5BAF6;
    --purple900: #D5B6FA;
    /* Purple #2 color variables */
    --purple2100: #BA88F7;
    --purple2200: #9F58F4;
    --purple2300: #8328F0;
    --purple2400: #6A0FD7;
    --purple2500: #520BA7;
    --purple2600: #3B0877;
    --purple2700: #230548;
    --purple2800: #0C0218;
    /* darkPurple #2 color variables */
    --darkPurple2100: #E5E6F1;
    --darkPurple2200: #C4C7DE;
    --darkPurple2300: #A3A7CC;
    --darkPurple2400: #8288BA;
    --darkPurple2500: #6168A8;
    --darkPurple2600: #4C528A;
    --darkPurple2700: #282B48;
    --darkPurple2800: #161828;
    --darkPurple2900: #040407;
    /* darkPurple color variables */
    --darkPurple100: #494B58;
    --darkPurple200: #414460;
    --darkPurple300: #393E68;
    --darkPurple400: #313870;
    --darkPurple500: #293178;
    --darkPurple600: #212B80;
    --darkPurple700: #192588;
    --darkPurple800: #111E90;
    --darkPurple900: #091898;
    /* Blue color variables */
    --blue100: #8F95A0;
    --blue200: #8592AA;
    --blue300: #7B8FB4;
    --blue400: #708CBF;
    --blue500: #6688C9;
    --blue600: #5B85D4;
    --blue700: #5182DE;
    --blue800: #477FE8;
    --blue900: #3C7CF3;
    --blue1000: #3279FD;
    /* Blue #2 color variables */
    --blue2100: #F8F8F8;
    --blue2200: #D0DDF6;
    --blue2300: #A5BEEE;
    --blue2400: #7AA0E6;
    --blue2500: #2863D2;
    --blue2600: #204FA7;
    --blue2700: #183B7C;
    --blue2800: #0F2651;
    background: var(--background);
    --blue2900: #071227;
}

.login {
    text-align: center;
    color: var(--purple2800);
}


.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #161828;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

#app, body, html, .loadingParent {
    width: 100%;
    height: 100%;
}

.loadingParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: wait;
    color: var(--darkPurple200);
    justify-content: center;
}

    .loadingParent > p {
        color: var(--darkPurple200);
        text-align: center;
        width: 400px;
        
        font-size: 24px;
        margin-bottom: 32px;
        font-weight: bold;
    }


#loaderText {
    font-size: 18px;
    margin-bottom: -24px;
    font-weight: lighter;
}

#loader {

    width: 0;
    height: 32px;
    border-radius: 10px;
    background: var(--purple2100);
}

.loaderParent
{
    width:400px;
    height:32px;
    border:2px solid var(--darkPurple100);
    border-radius:10px;
}
